# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
*.egg-info/

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / lint cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment / secrets
.env
.env.*
.streamlit/secrets.toml


# Optional: if you do NOT want generated outputs in repo
# data/output/*.csv